{% extends "../data/base.html" %}

{% if result != False %}
	{% block title %}
		{{ workflow.name }}
	{% endblock %}
{% endif %}

{% block content %}
	<div>
		{% if result != False %}
			<h2>{{workflow.name}}</h2>
			<!-- FIX -->
			{% for categories in category %}
				<label>{{ categories.name }}</label>
			{% endfor %}
			<b>KeyWords:</b>{{workflow.keywords}}
			<b>Description:</b>{{workflow.description}}
		{% else %}
			<h2> The workflow could not be downloaded.</h2>
			Error: {{ error}}
	</div>

	{% endif %}
{% endblock %}
