{% extends "../data/base.html" %}

{% if _dict['result'] != False %}
	{% block title %}
		{{ _dict['workflow'].name }}
	{% endblock %}
{% endif %}

{% block content %}
	<div>
		{% if _dict['result'] != False %}
			<h2>{{_dict.workflow.name}}</h2>
			<!-- FIX -->
			{% for category in _dict['workflow'].category %}
				<label>{{ category }}</label>
			{% endfor %}
			<b>KeyWords:</b>{{_dict['workflow'].keywords}}
			<b>Description:</b>_dict['workflow'].description}}
		{% else %}
			<h2> The workflow could not be downloaded.</h2>
			Error: {{ _dict['error']}}
	</div>

	{% endif %}
{% endblock %}
