{% extends "../data/base.html" %}

{% if category %}
	{% block title %}
		{{ category.name }}
	{% endblock %}
{% endif %}

{% block content %}
	<div>
		<h2>Categories</h2>
		All
		{% for cat in categories %}
			{{ cat.name }}
		{% endfor %}
	</div>
	<div>
		{% if cat %}
			<h1>{{ cat.name }}</h1>
		{% else %}
			<h1>Workflows</h1>
		{% endif %}
		{% if result != False %}
			{% for w in workflows %}
				{{w.name}}:{{w.description | truncatechars:255}}<br>
			{% endfor %}
		{% else %}
			{{error}}
		{% endif %}
	</div>

{% endblock %}
